<p id="nav">
<a href="/">home </a>
<a href="/about">/ about </a>
<a href="/commits">/ commits from edge merb</a>
</p>
<h4 id="nav">copyright &copy; 2009
<a href="http://jaigouk.blogspot.com">Jai-Gouk, Kim</a>  /    Design by <a href="http://templatefusion.org">Free CSS Templates</a>.</h4>
