<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Twitter on merb : track the recent changes!</title>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <meta content='all' name='robots' />
    <meta content='text/html;charset=utf-8' http-equiv='content-type' />
    <meta content='no' http-equiv='msthemecompatible' />
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/master.css" media="screen" rel="stylesheet" type="text/css" />

    
  </head>
  <body>

  <h2>Motivation</h2>
  
  <p>Hi. My name is Jai-Gouk Kim, a newbie in <b>merb</b> community. I'm not a ruby guru. I started digging into merb recently and found out <b>awesomeness</b> of merb. I bought "Merb in Action" but there was no notice about further works and It's really hard to get informations about <b>changes</b> like between 1.0.7 and 1.0.7.1. Since I don't have experiences related with merb, I wanted explanations about them. <a href="http://yehudakatz.com">Katz's blog</a> posts are good but I need <b>more than that</b>. So I parsed rss feeds here.</p>

<p>
<b>Thanks to</b> <a href="http://rubyonrails.org/merb" target="_blank">merb core team</a>, <a href="http://rubypond.com/" target="_blank">Glenn Gillen(rubypond)</a>, <a href="http://www.web2media.net/laktek/" target="_blank">Lakshan Perera(laktek)</a>, <a href="http://monki.geemus.com/" target="_blank">Wesley Beary(geamus)</a>, <a href="http://gom-jabbar.org" target="_blank">Guillaume Maury(giom)</a>, and <a href="http://izumi.plan99.net/blog/" target="_blank">Hongli Lai(FoobarWidget)</a>. Ruby community is cool! They really helped me to build this small app. <br><br>2009.1.7 <br>by Jai-Gouk Kim
</p>

  
 <%= partial 'footer' %>


  </body>
</html>
