<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Twitter on merb : track the recent changes!</title>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <meta content='all' name='robots' />
    <meta content='text/html;charset=utf-8' http-equiv='content-type' />
    <meta content='no' http-equiv='msthemecompatible' />
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/master.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
         

 <h2>commits from edge merb</h2>
<p> "katz_blog" is Yehuda Katz's blog. "edgmerb" is current version(1.0.X) commit feed, And 
"wycats_rails" means Katz's latest rails commit feed. </p>
  <div id="rss_feeds">

    <ul>
<%- fetch_partial 'recent_commits', :updated_at=> (Tweet.recent.created_at rescue nil) %>
    </ul>
  </div>
  <p>&nbsp;</p>
 <%= partial 'footer' %>

  </body>
</html>
