body {
/*	background-color:#17b6de;*/
	background-color:#352726;
	padding-left: 70px;
	padding-top: 25px;
	padding-right: 70px;
	width: 900px;
	border-top: 25px #fff dashed;
	color:#fff;
}

h1 {
	font-size:80pt;
	font-family:Impact, "Franklin Gothic Heavy", "Arial Black";
	font-weight:normal;
	text-transform:uppercase;
	line-height: 104pt;
	margin-bottom:50px;
}
h2 {
	font-size:30pt;
	font-family:Impact, "Franklin Gothic Heavy", "Arial Black";
	font-weight:bold;
	text-transform:uppercase;
	line-height: 60pt;
	margin-bottom:10px;
}
p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14pt;
	line-height: 25pt;
	margin-bottom:40px;
	font-style:italic;
}
p#nav {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14pt;
	line-height: 25pt;
	margin-bottom:0px;
	font-style:italic;
}
b {
	background-color:#000000;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-style:normal;
}

p a {
	background-color:#fff;
	color:#000;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-style:italic;
}

p a:hover {
	background-color:#000000;
	color:#fff;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	font-style:italic;
}

h4 {
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom:  0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10pt;
	line-height: 25pt;
	font-style:italic;
	font-weight:normal;
}
h4#nav {
	padding-top: 0px;
	padding-bottom: 15px;
	margin-bottom:  0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10pt;
	line-height: 25pt;
	font-style:italic;
	font-weight:normal;
}
h4 a {
	color:#fff;
	text-decoration:underline;
}

h4 a:hover {
	color:#fff;
	text-decoration:none;
}

div#rss_feeds {
	background-color:#fff;
		color:#000;
			padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}

div#rss_feeds b{
	background-color:#000000;
			color:#fff;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-style:normal;
}

div#rss_feeds ul{
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	

	}
	
div#rss_feeds ul li:before {
	content: "\00BB \0020";
	}
div#rss_feeds ul li {
  padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom:  5px;
	}
/*	#3E4415  khaki color*/
/*	#99CC33 green color*/
/*	#829D5E  light khaki color*/
/* #D02B55 strong pink red */
/* #352726 dark chocolate */
/* #363942 blueish-grey */

	div#rss_feeds ul li b#edgemerb {
	background-color:#3E4415;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-style:normal;
	}
	div#rss_feeds ul li b#katz_blog {
	background-color:#363942;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-style:normal;
	}
	div#rss_feeds ul li b#wycats_rails {
	background-color:#D02B55 ;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-style:normal;
	}
div#rss_feeds ul li font{
  padding-top: 7px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #A6A6A6;
	font-size:10pt;
	font-style:italic;
	font-weight:normal;
	}
	
div#rss_feeds ul li a {
	color:#000000;
	text-decoration:underline;
}

div#rss_feeds ul li a:hover {
	color:#000000;
	text-decoration:none;
}
	
	
	
div#twitter_div {
background: transparent url(/images/balloon2.png) no-repeat ; 
position: absolute; left: 410px; top: 170px;
z-index: 1;
/*float: right; */
width: 500px; 
height: 404px; 
padding-left: 90px; 
padding-top: 90px;
}
div#twit {
width: 400px; 
height:404px; 
}
div#twitter_div ul {
	list-style: none;

}
div#twitter_div ul li {
	color:#000000;
	font-size:15pt;
	margin-bottom: 10px;

}
